.fakeButton {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  color: var(--light-color);
  background: var(--gradient-main-color);
}
.fakeButton:hover {
  background: var(--gradient-dark-color);
}
