/* VARIABLES */
:root {
  --primary-main-color: #2f8876;
  --primary-light-color: #58a091;
  --primary-dark-color: #05705a;
  --secondary-main-color: #d08eff;
  --secondary-light-color: #fee9ff;
  --secondary-dark-color: #827090;
  --light-color: #fafdf5;
  --dark-color: #212f3c;
  --gradient-primary-main-color: linear-gradient(
    150deg,
    #58a091 0%,
    #2f8876 100%
  );
  --gradient-primary-dark-color: linear-gradient(
    150deg,
    #2f8876 0%,
    #05705a 100%
  );
  --gradient-secondary-main-color: linear-gradient(
    150deg,
    #fee9ff 0%,
    #d08eff 100%
  );
  --gradient-secondary-dark-color: linear-gradient(
    150deg,
    #d08eff 0%,
    #827090 100%
  );
  --main-font: "Montserrat", Arial, Helvetica, sans-serif;
  --border-radius: 10px;
  --dark-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --light-box-shadow: rgba(250, 253, 245, 0.24) 0px 3px 8px;
}

/*
@font-face {
  font-family: "Nickainley";
  src: url("/font/Nickainley-Normal.woff2") format("woff2"),
    url("/font/Nickainley-Normal.woff") format("woff");
}
*/

html,
body {
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  position: relative;
  font-family: var(--main-font);
}

h1,
h2,
h3 {
  font-size: 1rem;
  font-weight: normal;
}

/* Button */
button {
  border: none;
}
button:not(:disabled) {
  cursor: pointer;
}

/* Masquage d'element restant accessible aux lecteurs d'écran */
.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#root {
  height: 100%;
  width: 100%;
}
